fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
psycopg2-binary==2.9.9
pg8000==1.31.2
cloud-sql-python-connector[pg8000]==1.12.1
google-cloud-secret-manager==2.20.2
sentence-transformers==3.0.1
numpy==1.26.4
